:root {
  /* Base Color Palette */
  --eastern-blue-key: #ecfffe;
  --eastern-blue-50: #ecfffe;
  --eastern-blue-100: #d0fdfc;
  --eastern-blue-200: #a6f9fb;
  --eastern-blue-300: #69f3f7;
  --eastern-blue-400: #24e2ec;
  --eastern-blue-500: #08c5d2;
  --eastern-blue-600: #0a9eb0;
  --eastern-blue-700: #107e8e;
  --eastern-blue-800: #166574;
  --eastern-blue-900: #175462;
  --eastern-blue-950: #093843;

  --mineShaft-key: #333538;
  --mineShaft-50: #f5f6f6;
  --mineShaft-100: #e5e7e8;
  --mineShaft-200: #cdd1d4;
  --mineShaft-300: #abb1b5;
  --mineShaft-400: #81898f;
  --mineShaft-500: #656d75;
  --mineShaft-600: #575d63;
  --mineShaft-700: #4a4f54;
  --mineShaft-800: #414449;
  --mineShaft-900: #333538;
  --mineShaft-950: #172334;

  --bigStone-key: #356294;
  --bigStone-50: #f4f7fb;
  --bigStone-100: #e8edf6;
  --bigStone-200: #cbdbec;
  --bigStone-300: #9ebcdb;
  --bigStone-400: #6a99c6;
  --bigStone-500: #477bb0;
  --bigStone-600: #356294;
  --bigStone-700: #2c4f78;
  --bigStone-800: #284464;
  --bigStone-900: #253a55;
  --bigStone-950: #172334;

  --razzmatazz-key: #e71759;
  --razzmatazz-50: #fff1f3;
  --razzmatazz-100: #ffe3e8;
  --razzmatazz-200: #ffccd7;
  --razzmatazz-300: #ffa1b6;
  --razzmatazz-400: #ff6d90;
  --razzmatazz-500: #fa396d;
  --razzmatazz-600: #e71759;
  --razzmatazz-700: #c30d4b;
  --razzmatazz-800: #a30e46;
  --razzmatazz-900: #8c0f42;
  --razzmatazz-950: #4e031f;

  --seaGreen-key: #079455;
  --seaGreen-50: #ecfdf3;
  --seaGreen-100: #d2f9e0;
  --seaGreen-200: #a8f2c6;
  --seaGreen-300: #70e5a7;
  --seaGreen-400: #36d183;
  --seaGreen-500: #12b769;
  --seaGreen-600: #079455;
  --seaGreen-700: #067647;
  --seaGreen-800: #075e39;
  --seaGreen-900: #074d31;
  --seaGreen-950: #032b1d;

  --sun-key: #ffae20;
  --sun-50: #fff9eb;
  --sun-100: #ffefc6;
  --sun-200: #ffdd88;
  --sun-300: #ffc64a;
  --sun-400: #ffae20;
  --sun-500: #f98b07;
  --sun-600: #dd6502;
  --sun-700: #b74406;
  --sun-800: #94340c;
  --sun-900: #7a2b0d;
  --sun-950: #461402;

  --azure-radiance-key: #1f76f1;
  --azure-radiance-50: #eff8ff;
  --azure-radiance-100: #daeeff;
  --azure-radiance-200: #bde2ff;
  --azure-radiance-300: #90d0ff;
  --azure-radiance-400: #5bb6ff;
  --azure-radiance-500: #3595fc;
  --azure-radiance-600: #1f76f1;
  --azure-radiance-700: #175fde;
  --azure-radiance-800: #1a4db3;
  --azure-radiance-900: #1b448d;
  --azure-radiance-950: #152b56;

  --brightens-700: #f7f7f7;
  --brightens-800: #fafafa;
  --brightens-900: #fcfcfc;

  --radius-none: 0px;
  --radius-odd: 0.0625rem;
  --radius-xs: 0.125rem;
  --radius-s: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-m: 0.5rem;
  --radius-ml: 0.75rem;
  --radius-base: 1rem;
  --radius-xml: 1.5rem;
  --radius-2xl: 2rem;
  --radius-3xl: 3rem;
  --radius-4xl: 4rem;
  --radius-5xl: 5rem;
  --radius-6xl: 6rem;
  --radius-7xl: 7rem;

  --gap-none: 0px;
  --gap-xs: 0.125rem;
  --gap-s: 0.25rem;
  --gap-sm: 0.375rem;
  --gap-m: 0.5rem;
  --gap-ml: 0.75rem;
  --gap-base: 1rem;
  --gap-xl: 1.5rem;
  --gap-2xl: 2rem;
  --gap-3xl: 3rem;
  --gap-4xl: 4rem;
  --gap-5xl: 5rem;
  --gap-6xl: 6rem;
  --gap-7xl: 7rem;
  --gap-8xl: 8rem;
  --gap-9xl: 9rem;
  --gap-10xl: 10rem;
  --gap-11xl: 11rem;
  --gap-12xl: 12rem;

  --padding-none: 0px;
  --padding-xs: 0.125rem;
  --padding-s: 0.25rem;
  --padding-sm: 0.375rem;
  --padding-m: 0.5rem;
  --padding-ml: 0.75rem;
  --padding-base: 1rem;
  --padding-xl: 1.5rem;
  --padding-2xl: 2rem;
  --padding-3xl: 3rem;
  --padding-4xl: 4rem;
  --padding-5xl: 5rem;
  --padding-6xl: 6rem;
  --padding-7xl: 7rem;
  --padding-8xl: 8rem;
  --padding-9xl: 9rem;
  --padding-10xl: 10rem;
  --padding-11xl: 11rem;
  --padding-12xl: 12rem;
  --padding-13xl: 13rem;

  --stroke-none: 0px;
  --stroke-odd: 0.0625rem;
  --stroke-xs: 0.125rem;
  --stroke-s: 0.25rem;
  --stroke-sm: 0.375rem;

  --control-width-2xs: 0.125rem;
  --control-width-xs: 0.25rem;
  --control-width-s: 0.375rem;
  --control-width-sm: 0.5rem;
  --control-width-m: 0.75rem;
  --control-width-base: 1rem;
  --control-width-l: 1.25rem;
  --control-width-xl: 1.5rem;
  --control-width-2xl: 2rem;
  --control-width-3xl: 3rem;
  --control-width-4xl: 4rem;
  --control-width-5xl: 5rem;
  --control-width-6xl: 6rem;
  --control-width-7xl: 7rem;
  --control-width-8xl: 8rem;
  --control-width-9xl: 9rem;
  --control-width-10xl: 10rem;
  --control-width-11xl: 11rem;
  --control-width-12xl: 12rem;
  --control-width-13xl: 13rem;
  --control-width-14xl: 14rem;
  --control-width-15xl: 15rem;
  --control-width-16xl: 16rem;
  --control-width-17xl: 17rem;
  --control-width-18xl: 18rem;

  --control-height-2xs: 0.125rem;
  --control-height-xs: 0.25rem;
  --control-height-s: 0.375rem;
  --control-height-sm: 0.5rem;
  --control-height-m: 0.75rem;
  --control-height-base: 1rem;
  --control-height-l: 1.25rem;
  --control-height-xl: 1.5rem;
  --control-height-2xl: 2rem;
  --control-height-3xl: 3rem;
  --control-height-4xl: 4rem;
  --control-height-5xl: 5rem;
  --control-height-6xl: 6rem;
  --control-height-7xl: 7rem;
  --control-height-8xl: 8rem;
  --control-height-9xl: 9rem;
  --control-height-10xl: 10rem;
  --control-height-11xl: 11rem;
  --control-height-12xl: 12rem;
  --control-height-13xl: 13rem;
  --control-height-14xl: 14rem;
  --control-height-15xl: 15rem;
  --control-height-16xl: 16rem;
  --control-height-17xl: 17rem;
  --control-height-18xl: 18rem;
}
